TF_Content: |-
  #!/bin/sh

  env
  terraform init
  terraform version
  terraform plan
TF_Git_path: single-web-server
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy --auto-approve
build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-06-13T06:22:23.547Z
