TF_Content: |-
  #!/bin/sh

  env
  terraform version
TF_Git_path: single-web-server
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy --auto-approve
build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-06-14T05:50:27.431Z
